.main{
    height: 100vh;
    width: 100%;
    /* max-width: 100%; */
    background-color: rgb(64, 63, 63);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form{
    /* background-color: red; */
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;
}

.form .inp{
width: 100%;
height: 54px;
border-radius: 5px;
outline: none;
border: 1px solid gray;
color: black;
padding: 15px;
}

.form .inp-post{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    color: black;
    padding: 15px;
    }

.btn{
    padding:10px 30px ;
    border-radius: 5px;
    background-color: #167ce0;
    font-weight: bold;
    border: 1px solid #167ce0;
    cursor: pointer;
}

.btn:hover{
background-color: #5395d7;
}

.not-found{
    /* width: 100%; */
    text-align: center;
}

.message.error{
    display: block;
    width: 100%;
    color: red;
}

.message.success{
    display: block;
    width: 100%;
    color: green;
}

.message.null{
    display: none
}